.CFUserTextEncoding
.gitconfig
.idlerc/
.lesshst
.viminfo
.vscode/
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc
Applications/
.localized
*.pdf
projectX/
Documents/
Downloads/
GitHubCloneProject/
IdeaProjects/
Library/
LocalRepoProject/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
PyCharmMiscProject.iml
PyCharmMiscProject/
alx_be_shell/
# تجاهل الملفات غير المرغوب فيها
.CFUserTextEncoding
.gitconfig
.idlerc/
.lesshst
.viminfo
.vscode/
.zprofile
.zprofile.pysave
.zsh_history
.zsh_sessions/
.zshrc
Applications/
.localized
*.pdf
projectX/
Documents/
Downloads/
GitHubCloneProject/
IdeaProjects/
Library/
LocalRepoProject/
Movies/
Music/
NetBeansProjects/
Pictures/
Public/
PyCharmMiscProject.iml
PyCharmMiscProject/
alx_be_shell/
hello.txt.save
hello.txt.save
